<html>
   <body>
      <form action = "{{ url_for('dbBooksCreateSingle') }}" method = "POST">

         <h3>Dodaj nową książkę</h3>
         Wróć do strony głównej: <a href="/"> TU </a><br><br>

         Tytuł<br>
         <input type = "text" name = "title" /></br>
        
         Autor<br>
         <input type = "text" name = "author" /></br>

         Data publikacji<br>
         <input type = "date" name = "publication_date" /></br>
         
         ISBN<br>
         <input type = "text" name = "ISBN" /><br>
         
         Liczba stron<br>
         <input type = "text" name = "pages" /><br>
        
         Link do okładki<br>
         <input type = "text" name = "cover" /><br>
         
         Język wydania<br>
         <input type = "text" name = "lang" /><br><br>

         <input type = "submit" value = "submit" /><br>
      </form>
   </body>
</html>